:root {
  --primary-color: #7d1538;
  --heading-font: "Alegreya Sans SC", sans-serif;
  --regular-text-font: "Lato", sans-serif;
}

.App {
  text-align: center;
  background-size: cover;
  font-family: var(--regular-text-font);
  min-height: 100vh;
}

.App header {
  color: var(--primary-color);
  font-size: 64px;
  padding-top: 32px;
  font-family: var(--heading-font);
}

.App .container {
  align-items: center;
  max-width: 700px;
}

.App footer {
  margin-top: 32px;
  padding-bottom: 32px;
}
.App footer section {
  background-color: var(--primary-color);
  color: white;
  font-size: 14px;
}

.App footer section a {
  color: white;
}

.App section {
  background: white;
  border-radius: 8px;
  padding: 20px 10px;
  margin: 16px 0;
  box-shadow: 5px 5px 8px -1px rgba(0, 0, 0, 0.2);
}
